{% extends 'homepage.html' %}
{% load static %}
{% block content %}

{% include 'include/header.html' %}
			<!-- Start Bradcumb Area -->
			<div class="bradcumb-area style-1 overlay-bg-2">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col">
							<!-- Start bradcumb -->
							<div class="bradcumb text-center">
								<h3>About AdventureGene</h3>
								<ul>
									<li><a href="#">Home</a></li>
									<li>About Us</li>
								</ul>
							</div>
							<!-- End bradcumb -->
						</div>
					</div>
				</div>
			</div>
			<!-- End Bradcumb Area -->
			<!-- Start About Adventure Area -->
			<div class="about-adventure-area pt-110 pb-150">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-6">
							<!-- Start section title -->
							<div class="section-title text-center">
								<p class="title">Why Adventuren is better than others?</p>
								<h2>It's Time To Hit The New <span></span> Path To Exploration.</h2>
							</div>
							<!-- End section title -->
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-lg-10">
							<p class="text-center mb-45">
								All adventure freaks! Will ya' like to blow down by the beauty of nature amidst sea, land and mountains in India? Aye! Then go ahead, Adventuren is here to immerse yourself in an outdoor adventure filled with stunning contrasts: intimate and communal, purposeful, raw and rich.
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4 col-sm-6">
							<!-- Start single about adventure -->
							<div class="single-about-adventure text-center">
								<div class="about-ad-thumb">
									<img src="img/adventure/1.png" alt="">
								</div>
								<div class="about-ad-content">
									<h4>Travel Experiences</h4>
									<p>It’s time to pack your bags and get ready for your next adventure. Check out the tours we’re running.</p>
								</div>
							</div>
							<!-- End single about adventure -->
						</div>
						<div class="col-lg-4 col-sm-6">
							<!-- Start single about adventure -->
							<div class="single-about-adventure text-center">
								<div class="about-ad-thumb">
									<img src="img/adventure/2.png" alt="">
								</div>
								<div class="about-ad-content">
									<h4>Internation Travel</h4>
									<p>It’s time to pack your bags and get ready for your next adventure. Check out the tours we’re running.</p>
								</div>
							</div>
							<!-- End single about adventure -->
						</div>
						<div class="col-lg-4 col-sm-6">
							<!-- Start single about adventure -->
							<div class="single-about-adventure text-center">
								<div class="about-ad-thumb">
									<img src="img/adventure/3.png" alt="">
								</div>
								<div class="about-ad-content">
									<h4>Best Price Guaranted</h4>
									<p>It’s time to pack your bags and get ready for your next adventure. Check out the tours we’re running.</p>
								</div>
							</div>
							<!-- End single about adventure -->
						</div>
					</div>
				</div>
			</div>
			<!-- End About Adventure Area -->
			<!-- Start About Camping Area -->
			<div class="about-camping-arrea pb-150">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-8">
							<!-- Start section title -->
							<div class="section-title text-center">
								<p class="title">SOME GREAT FEATURES</p>
								<h2>We'll be there, like we've <span></span> been there before.</h2>
							</div>
							<!-- End section title -->
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 col-sm-4">
							<!-- Start single about feature -->
							<div class="single-about-feature">
								<div class="about-fre-thumb">
									<img src="img/icon/1.png" alt="">
								</div>
								<div class="about-fre-content">
									<h4>Camping</h4>
									<p>Explore the wilder side of our world with expert local guides who know where to go and how to stay safe. It’s time to pack your bags and get ready for your next adventure.</p>
								</div>
							</div>
							<!-- Start single about feature -->
						</div>
						<div class="col-lg-3 col-sm-4">
							<!-- Start single about feature -->
							<div class="single-about-feature">
								<div class="about-fre-thumb">
									<img src="img/icon/2.png" alt="">
								</div>
								<div class="about-fre-content">
									<h4>Hiking</h4>
									<p>Explore the wilder side of our world with expert local guides who know where to go and how to stay safe. It’s time to pack your bags and get ready for your next adventure.</p>
								</div>
							</div>
							<!-- Start single about feature -->
						</div>
						<div class="col-lg-3 col-sm-4">
							<!-- Start single about feature -->
							<div class="single-about-feature">
								<div class="about-fre-thumb">
									<img src="img/icon/3.png" alt="">
								</div>
								<div class="about-fre-content">
									<h4>Beach Tours</h4>
									<p>Explore the wilder side of our world with expert local guides who know where to go and how to stay safe. It’s time to pack your bags and get ready for your next adventure.</p>
								</div>
							</div>
							<!-- Start single about feature -->
						</div>
						<div class="col-lg-3 col-sm-4">
							<!-- Start single about feature -->
							<div class="single-about-feature">
								<div class="about-fre-thumb">
									<img src="img/icon/5.png" alt="">
								</div>
								<div class="about-fre-content">
									<h4>Safari</h4>
									<p>Explore the wilder side of our world with expert local guides who know where to go and how to stay safe. It’s time to pack your bags and get ready for your next adventure.</p>
								</div>
							</div>
							<!-- Start single about feature -->
						</div>
						<div class="col-lg-3 col-sm-4">
							<!-- Start single about feature -->
							<div class="single-about-feature">
								<div class="about-fre-thumb">
									<img src="img/icon/11.png" alt="">
								</div>
								<div class="about-fre-content">
									<h4>Mountain Bike</h4>
									<p>Explore the wilder side of our world with expert local guides who know where to go and how to stay safe. It’s time to pack your bags and get ready for your next adventure.</p>
								</div>
							</div>
							<!-- Start single about feature -->
						</div>
						<div class="col-lg-3 col-sm-4">
							<!-- Start single about feature -->
							<div class="single-about-feature">
								<div class="about-fre-thumb">
									<img src="img/icon/15.png" alt="">
								</div>
								<div class="about-fre-content">
									<h4>Cruise Trip</h4>
									<p>Explore the wilder side of our world with expert local guides who know where to go and how to stay safe. It’s time to pack your bags and get ready for your next adventure.</p>
								</div>
							</div>
							<!-- Start single about feature -->
						</div>
						<div class="col-lg-3 col-sm-4">
							<!-- Start single about feature -->
							<div class="single-about-feature">
								<div class="about-fre-thumb">
									<img src="img/icon/4.png" alt="">
								</div>
								<div class="about-fre-content">
									<h4>Surfing</h4>
									<p>Explore the wilder side of our world with expert local guides who know where to go and how to stay safe. It’s time to pack your bags and get ready for your next adventure.</p>
								</div>
							</div>
							<!-- Start single about feature -->
						</div>
						<div class="col-lg-3 col-sm-4">
							<!-- Start single about feature -->
							<div class="single-about-feature">
								<div class="about-fre-thumb">
									<img src="img/icon/12.png" alt="">
								</div>
								<div class="about-fre-content">
									<h4>Winter Camping</h4>
									<p>Explore the wilder side of our world with expert local guides who know where to go and how to stay safe. It’s time to pack your bags and get ready for your next adventure.</p>
								</div>
							</div>
							<!-- Start single about feature -->
						</div>
					</div>
				</div>
			</div>
			<div class="about-free-area">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="about-fre-bottom text-center">
								<h3>A full team of experts with you before, during and after the journey</h3>
								<h2>Find Your Next Adventure</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End About Camping Area -->
			<!-- Start About Expart Area -->
			<div class="about-expart-area pt-110">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-xxl-5 col-sm-7">
							<!-- Start section title -->
							<div class="section-title text-center">
								<p class="title">Our Experties</p>
								<h2>Why travel with <span></span> AdventureGene?</h2>
							</div>
							<!-- End section title -->
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4 col-sm-6">
							<!-- Start single expart -->
							<div class="about-single-expart">
								<div class="about-ex-thumb">
									<img src="img/icon/e1.png" alt="">
								</div>
								<div class="about-ex-content">
									<h4>30+ YEARS EXPERIENCES</h4>
								</div>
							</div>
							<!-- End single expart -->
						</div>
						<div class="col-lg-4 col-sm-6">
							<!-- Start single expart -->
							<div class="about-single-expart">
								<div class="about-ex-thumb">
									<img src="img/icon/e2.png" alt="">
								</div>
								<div class="about-ex-content">
									<h4>EXPERT LOCAL GUIDES</h4>
								</div>
							</div>
							<!-- End single expart -->
						</div>
						<div class="col-lg-4 col-sm-6">
							<!-- Start single expart -->
							<div class="about-single-expart">
								<div class="about-ex-thumb">
									<img src="img/icon/e3.png" alt="">
								</div>
								<div class="about-ex-content">
									<h4>COMPANY YOU CAN ACTUALLY</h4>
								</div>
							</div>
							<!-- End single expart -->
						</div>
					</div>
				</div>
			</div>
			<!-- End About Expart Area -->
			<!-- Start Guide Area -->
			<div class="guide-area pt-85 pb-80">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-10">
							<!-- Start section title -->
							<div class="section-title text-center">
								<p class="title">Our Guides & Staff</p>
								<h2>A full team of experts with you before,<span></span> during and after the journey</h2>
							</div>
							<!-- End section title -->
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<!-- Start single guide -->
							<div class="single-guide">
								<div class="guide-thumb">
									<img src="img/guide/1.jpg" alt="">
									<div class="guide-content">
										<p class="title">Adventure Manager</p>
										<a href="#"><h4>Chris Kearney</h4></a>
										<ul>
											<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="#"><i class="fab fa-twitter"></i></a></li>
											<li><a href="#"><i class="fab fa-instagram"></i></a></li>
											<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
											<li><a href="#"><i class="fab fa-youtube"></i></a></li>
										</ul>
										<div class="about-guide">
											<p>Tasked with finding the freshest and most sustainable adventures around the world, either from his home in Brighton or wherever in Europe his campervan happens to be parked up.</p>
										</div>
									</div>
								</div>
							</div>
							<!-- End single guide -->
						</div>
						<div class="col-sm-4">
							<!-- Start single guide -->
							<div class="single-guide">
								<div class="guide-thumb">
									<img src="img/guide/2.jpg" alt="">
									<div class="guide-content">
										<p class="title">Customer Experience Manager</p>
										<a href="#"><h4>Megan Devenish</h4></a>
										<ul>
											<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="#"><i class="fab fa-twitter"></i></a></li>
											<li><a href="#"><i class="fab fa-instagram"></i></a></li>
											<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
											<li><a href="#"><i class="fab fa-youtube"></i></a></li>
										</ul>
										<div class="about-guide">
											<p>Tasked with finding the freshest and most sustainable adventures around the world, either from his home in Brighton or wherever in Europe his campervan happens to be parked up.</p>
										</div>
									</div>
								</div>
							</div>
							<!-- End single guide -->
						</div>
						<div class="col-sm-4">
							<!-- Start single guide -->
							<div class="single-guide">
								<div class="guide-thumb">
									<img src="img/guide/3.jpg" alt="">
									<div class="guide-content">
										<p class="title">Travel Specialist</p>
										<a href="#"><h4>Dan Bloomfield</h4></a>
										<ul>
											<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="#"><i class="fab fa-twitter"></i></a></li>
											<li><a href="#"><i class="fab fa-instagram"></i></a></li>
											<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
											<li><a href="#"><i class="fab fa-youtube"></i></a></li>
										</ul>
										<div class="about-guide">
											<p>Tasked with finding the freshest and most sustainable adventures around the world, either from his home in Brighton or wherever in Europe his campervan happens to be parked up.</p>
										</div>
									</div>
								</div>
							</div>
							<!-- End single guide -->
						</div>
					</div>
				</div>
			</div>
			<!-- End Guide Area -->
			<!-- Start Partner Area -->
			<div class="partner-area pb-200">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-10">
							<!-- Start section title -->
							<div class="section-title text-center">
								<p class="title">Our Partners</p>
								<h2>We team up with the best to give you <span></span> an unmatchable experience</h2>
							</div>
							<!-- End section title -->
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="partner-wrap owl-carousel">
								<!-- Start single partner -->
								<div class="single-partner">
									<img class="bottom" src="img/partner/1.jpg" alt="">
									<img class="top" src="img/partner/1-1.jpg" alt="">
								</div>
								<!-- End single partner -->
								<!-- Start single partner -->
								<div class="single-partner">
									<img class="bottom" src="img/partner/2.jpg" alt="">
									<img class="top" src="img/partner/2-2.jpg" alt="">
								</div>
								<!-- End single partner -->
								<!-- Start single partner -->
								<div class="single-partner">
									<img class="bottom" src="img/partner/3.jpg" alt="">
									<img class="top" src="img/partner/3-3.jpg" alt="">
								</div>
								<!-- End single partner -->
								<!-- Start single partner -->
								<div class="single-partner">
									<img class="bottom" src="img/partner/4.jpg" alt="">
									<img class="top" src="img/partner/4-4.jpg" alt="">
								</div>
								<!-- End single partner -->
								<!-- Start single partner -->
								<div class="single-partner">
									<img class="bottom" src="img/partner/5.jpg" alt="">
									<img class="top" src="img/partner/5-5.jpg" alt="">
								</div>
								<!-- End single partner -->
								<!-- Start single partner -->
								<div class="single-partner">
									<img class="bottom" src="img/partner/6.jpg" alt="">
									<img class="top" src="img/partner/6-6.jpg" alt="">
								</div>
								<!-- End single partner -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Partner Area -->
			<!-- Start Copyright Area -->
			<div class="copy-right-area">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<!-- Start payment -->
							<div class="copy-payment">
								<ul>
									<li><a href="#"><img src="img/payment/1.png" alt=""></a></li>
									<li><a href="#"><img src="img/payment/2.png" alt=""></a></li>
									<li><a href="#"><img src="img/payment/3.png" alt=""></a></li>
									<li><a href="#"><img src="img/payment/4.png" alt=""></a></li>
								</ul>
							</div>
							<!-- End payment -->
						</div>
						<div class="col-sm-6">
							<!-- Start copyright text -->
							<div class="copyright-text">
								<p>© 2024 AdventureGene.com All rights reserved.</p>
							</div>
							<!-- End copyright text -->
						</div>
					</div>
				</div>
			</div>
			<!-- End Copyright Area -->

		</div>
        <!-- End Wrapper -->
			<!-- all js here -->

			{% include 'include/footer.html' %}
			{% endblock %}