<!-- Start Footer Area -->
<footer class="footer-area pt-85 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <!-- start contact widget -->
                <div class="widget contact-widget">
                    <h3>About AdventureGene</h3>
                    <p>Adventure is all about having the freedom to follow your curiosity and discovering the unknown. No matter the Travel Style, our tours balance well-planned itineraries with the flexibility to do your own thing and explore a bit on your own.</p>
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <!-- end contact widget -->
            </div>
            <div class="col-lg-2 col-sm-3">
                <!-- start quick link widget -->
                <div class="widget quick-link-widget">
                    <h3>Quick Links</h3>
                    <ul>
                        <li><a href="#"><i class="fal fa-angle-right"></i>About Us</a></li>
                        <li><a href="#"><i class="fal fa-angle-right"></i>Why Travel With Us?</a></li>
                        <li><a href="#"><i class="fal fa-angle-right"></i>Guides & Staff</a></li>
                        <li><a href="#"><i class="fal fa-angle-right"></i>Contact Us</a></li>
                        <li><a href="#"><i class="fal fa-angle-right"></i>We Are Hiring</a></li>
                        <li><a href="#"><i class="fal fa-angle-right"></i>Our Core Values</a></li>
                    </ul>
                </div>
                <!-- end quick link widget -->
            </div>
            <div class="col-lg-2 col-sm-3">
                <!-- start quick link widget -->
                <div class="widget quick-link-categories">
                    <h3>Categories</h3>
                    <ul>
                        <li><a href="#"><i class="fal fa-angle-right"></i>Adventure</a></li>
                        <li><a href="#"><i class="fal fa-angle-right"></i>Hiking & Trekking</a></li>
                        <li><a href="#"><i class="fal fa-angle-right"></i>Cycling Tours</a></li>
                        <li><a href="#"><i class="fal fa-angle-right"></i>Family Tours</a></li>
                        <li><a href="#"><i class="fal fa-angle-right"></i>Wildlife Tours</a></li>
                        <li><a href="#"><i class="fal fa-angle-right"></i>Polar Tours</a></li>
                        <li><a href="#"><i class="fal fa-angle-right"></i>Food Tours</a></li>
                    </ul>
                </div>
                <!-- end quick link widget -->
            </div>
            <div class="col-lg-2 col-sm-4">
                <!-- start quick link widget -->
                <div class="widget quick-destinations">
                    <h3>Destinations</h3>
                    <ul>
                        <li><a href="#"><i class="fal fa-angle-right"></i>African Safaris</a></li>
                        <li><a href="#"><i class="fal fa-angle-right"></i>Alaska & Canada</a></li>
                        <li><a href="#"><i class="fal fa-angle-right"></i>South America</a></li>
                        <li><a href="#"><i class="fal fa-angle-right"></i>Middle East</a></li>
                        <li><a href="#"><i class="fal fa-angle-right"></i>Asia</a></li>
                        <li><a href="#"><i class="fal fa-angle-right"></i>Europe</a></li>
                        <li><a href="#"><i class="fal fa-angle-right"></i>South America</a></li>
                    </ul>
                </div>
                <!-- end quick link widget -->
            </div>
            <div class="col-lg-3 col-sm-6">
                <!-- start contact us widget -->
                <div class="widget contact-us">
                    <h3>Contact Us</h3>
                    <ul>
                        <li><a href="#"><i class="fal fa-paper-plane"></i>Level 1, 14-16 Church Street Queenstown, New Zealand</a></li>
                        <li><a href="#"><i class="fal fa-envelope"></i>support@adventuregene.com</a></li>
                        <li><a href="#"><i class="fal fa-phone-alt"></i>+ 001 800 661 9073</a></li>
                    </ul>
                </div>
                <!-- end contact us widget -->
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Area -->