{% load static %}
<!-- Start Header -->
<header id="header" class="header-area style-2 header-border absulate-header">
    <div class="container">
        <!-- Start header top -->
        <div class="row">
            <div class="col-lg-6 col-sm-3">
                <div class="header-top-left">
                    <ul>
                        <li class="has-dropdown"><a href="#">USD</a>
                            <ul>
                                <li><a href="#">URO</a></li>
                                <li><a href="#">FJD</a></li>
                                <li><a href="#">GBP</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown"><a href="#">English</a>
                            <ul>
                                <li><a href="#">Arabic</a></li>
                                <li><a href="#">French</a></li>
                                <li><a href="#">Bangla</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-sm-9">
                <!-- Header top contact -->
                <div class="header-top-contact">
                    <ul>
                        <li><a href="mailto:yourname@email.com"><i class="fal fa-envelope"></i>support@adventuregene.com</a></li>
<li><a href="tel:+008012345678"><i class="fal fa-phone-alt"></i>012 345 6789</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Start header top -->
    </div>
    <div class="navigation-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-sm-6 col-6">
                    <!-- Start site logo -->
                    <div class="site-logo">
                        <a href="{% url 'index' %}"><img src="{% static 'img/logo4.png' %}" alt="GENE"></a>
                    </div>
                    <!-- End site logo -->
                </div>
                <div class="col-lg-10 col-sm-6 col-6">
                    <!-- Start Navigation -->
                    <div class="main-menu-wrap">
                        <nav class="gene-nav">
                            <ul class="menu">
                                <li><a href="{% url 'index' %}">Домой</a></li>

                                                                            <li class="has-dropdown"><a href="javascript:void(0)">Adventures</a>
                                    <ul><!-- Dropdown Items -->
                                        <li><a href="adventure-1.html">Adventure List One</a></li>
                                        <li><a href="adventure-2.html">Adventure List Two</a></li>
                                        <li><a href="adventure-3.html">Adventure List Three</a></li>
                                        <li><a href="adventure-detail-1.html">Adventure Details</a></li>
                                    </ul>											
                                    <li><a href="{% url 'blog' %}">Блог</a></li>

                                <li class="has-dropdown"><a href="javascript:void(0)">Other Pages</a>
                                    <ul><!-- Dropdown Items -->
                                                                                        <li><a href="about.html">About Us</a> </li>
                                                                                        <li><a href="login.html">Log In</a> </li>
                                                                                        <li><a href="signup.html">Sign Up</a> </li>
                                                                                        <li><a href="404.html">Error</a> </li>
                                </ul>	
                                </li>
                                                                            <li class="has-dropdown"><a href="javascript:void(0)">Cart Pages</a>
                                    <ul><!-- Dropdown Items -->
                                        <li><a href="cart.html">Cart</a></li>
                                        <li><a href="check-out.html">Check Out</a></li>	
                                    </ul>	
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                                <li class="icon"><a href="login.html"><i class="far fa-user"></i>LOGIN</a></li>
                                <li class="icon"><a href="cart.html"> <i class="fal fa-shopping-basket"></i><small>(2)</small></a></li>
                            </ul>
                        </nav> 
                    </div>
                    <!-- Mobile Menu Active here. Don't Remove it -->
                    <div class="mobile-menu-area"></div>
                    <!-- End Navigation -->
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End Header -->